body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

@font-face {
    font-family: 'MATRIX';
    font-weight: 1300;
    src: local('MATRIX'), url(./fonts/matrix.ttf) format('opentype');
}
